
  <div class="wrap">
    <filters
    (searchByReference)="onSearchByReference($event)"
    (searchByProductName)="onSearchByProductName($event)"
    (searchByProductFamily)="onSearchByProductFamily($event)"
    (searchByLineOfBusiness)="onSearchByLineOfBusiness($event)"
    (selectLanguage)="onSelectLanguage($event)"></filters>

  <mat-divider ></mat-divider>
  <div class="results">
    <a #top></a>
    <results [resultsList]="result"[currentPage]="(currentReq |async)!.page" (scrollEvent)="scrollTo($event)" (onClick)="pageChanged($event)" ></results>
  </div>
</div>
