<a name="top"></a>
  <div class="row">
    <filters
    (searchByReference)="onSearchByReference($event)"
    (searchByProductName)="onSearchByProductName($event)"
    (searchByProductFamily)="onSearchByProductFamily($event)"
    (searchByLineOfBusiness)="onSearchByLineOfBusiness($event)"
    (selectLanguage)="onSelectLanguage($event)"></filters>
  </div>
  <mat-divider ></mat-divider>
  <div class="results">

    <results [resultsList]="result" (scrollEvent)="scrollTo($event)"></results>
  </div>


