<div class="wrapper">

      
      <div class="input-group input-group-sm mb-3 reference">
        
        <input 
        placeholder="Reference"
        type="text" 
        class="form-control" 
        [(ngModel)]="referenceName"
        (keyup.enter)="onSearchByReference()">
        <div class="input-group-text" id="inputGroup-sizing-sm"(click)="onSearchByReference()">
          
          <mat-icon>search</mat-icon>
        </div>
      </div>
      
      <div class="input-group input-group-sm mb-3 product-name" >
        
        <input 
        placeholder="Nom produit"
        type="text" 
        class="form-control" 
        [(ngModel)]="productName" 
        (keyup.enter)="onSearchByProductName()">
        <div class="input-group-text" id="inputGroup-sizing-sm"(click)="onSearchByProductName()">
          
          <mat-icon>search</mat-icon>
        </div>
      </div>

  <div class="input-group input-group-sm mb-3 product-family" >

    <input 
    placeholder="Famille de produit"
    type="text" 
    class="form-control" 
    [(ngModel)]="productFamily" 
    (keyup.enter)="onSearchByProductFamily()">
    <div class="input-group-text" id="inputGroup-sizing-sm"(click)="onSearchByProductFamily()">
      
        <mat-icon>search</mat-icon>
    </div>
  </div>

  <div class="input-group input-group-sm mb-3 line-of-business" >

    <input 
    placeholder="Ligne de produits"
    type="text" 
    class="form-control" 
    [(ngModel)]="lineOfBusiness" 
    (keyup.enter)="onSearchByLineOfBusiness()">
    <div class="input-group-text" id="inputGroup-sizing-sm"(click)="onSearchByLineOfBusiness()">
      
        <mat-icon>search</mat-icon>
    </div>
  </div>
<div class="select-area">
  <select class="form-select " aria-label="Default select example" 
  [(ngModel)]="selectedLanguage" 
  (change)="onSelectLanguage($event.target)">
    <ng-container *ngFor="let item of languages">
      <option [ngValue]="item">{{item.label}}</option>
    </ng-container>
    <!-- <option selected (click)="selectLanguage(item)">Open this select menu</option> -->
  </select>
</div>


</div>
