

  <div class="card" style="height:100%">
    <div class="card-header text-center">
      {{technicalDocument.topic}}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{technicalDocument.title}}</h4>
      <!-- <p class="card-subtitle mb-2 text-muted"></p> -->
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group">
          <label for="referenceInput">Nom produit</label>
          <div class="input-group input-group-sm mb-3 reference">

            <input

            type="text"
            class="form-control form-control-sm"
            id="referenceInput"
            [(ngModel)]="technicalDocument.product"
            disabled>
            <div class="input-group-text" style="cursor: pointer;" id="inputGroup-sizing-sm"(click)="copyToClipboard(technicalDocument.product)">

              <mat-icon>content_copy</mat-icon>
            </div>
          </div>
        </div>
        <div class="form-group">
        <label for="referenceInput">Famille de produit</label>
        <div class="input-group input-group-sm mb-3 reference">

          <input

          type="text"
          class="form-control form-control-sm"
          id="referenceInput"
          [(ngModel)]="technicalDocument.family"
          disabled>
          <div class="input-group-text" style="cursor: pointer;" id="inputGroup-sizing-sm"(click)="copyToClipboard(technicalDocument.family)">

            <mat-icon>content_copy</mat-icon>
          </div>
        </div>
        </div>
      <div class="form-group">
        <label for="referenceInput">Ligne de produits</label>
        <div class="input-group input-group-sm mb-3 reference">

            <input
            placeholder="Reference"
            type="text"
            class="form-control form-control-sm"
            id="referenceInput"
            [(ngModel)]="technicalDocument.lob"
            disabled>
            <div class="input-group-text"style="cursor: pointer;" id="inputGroup-sizing-sm"(click)="copyToClipboard(technicalDocument.lob)">

              <mat-icon>content_copy</mat-icon>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="snippet-wrapper"  [innerHTML]="technicalDocument.snippet">
          </div>

     </li>
      <!-- <li class="list-group-item">
        <div >

          <mat-chip-list class="chips-wrapper">

          <ng-container *ngFor="let item of currentRefs">
            <mat-chip style="cursor: pointer">{{item}}
              <button matChipRemove (click)="copyToClipboard(item)">
              <mat-icon>content_copy</mat-icon>
            </button></mat-chip>
          </ng-container>

          </mat-chip-list>

        <div style="position: absolute; top:0; left:0; width:100%; height:100%; pointer-events:none"></div>
      </div>

    </li> -->
    </ul>







    <div class="card-body">
      <div style="display: flex;justify-content: space-around; align-items: center;">

          <button mat-mini-fab color="primary" (click)="goToLink(technicalDocument.documents[0])">
            <t-tooltip tooltip="Document"><mat-icon>description</mat-icon></t-tooltip>

          </button>


        <button mat-mini-fab color="primary"  (click)="goToLink(technicalDocument.url)">
          <t-tooltip tooltip="Url">
          <mat-icon>link</mat-icon>
        </t-tooltip>
        </button>


        <button mat-mini-fab color="primary"  (click)="open()">
          <t-tooltip tooltip="References">
          <mat-icon>open_in_new</mat-icon>
          </t-tooltip>

        </button>
      </div>
    </div>
  </div>
