/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%;width: 100%;font-size: 14px;}
html, body { height: 100%; overflow-y: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
  }

  .title{
    font-size: 14px;
    color:#1B325F;
    font-weight: 600;
    }
