/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%;width: 100%;font-size: 14px;}
html, body { height: 100%; overflow-y: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
  }

  .title{
    font-size: 14px;
    color:#1B325F;
    font-weight: 600;
    }

    :root {
      --primary : #1B325F;
      --secondary : #9CC4E4;
      --white : #E9F2F9;
      --light-blue : #3A89C9;
      --red : #eb1c30;
      --cobalt : #44749D;
      --light-gray : #EBE7E0;
      --gray : #BDB8AD;
      --select-border:var(--light-gray);
      --select-focus: var(--light-blue);
      --select-arrow: var(--select-border);

    }
